<ul class="nav flex-column text-lg-left text-md-left text-sm-center" id="sidenav">
    <li class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" id="productDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="productDropdown">
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#newProductModal">Create New</a>
          <a class="dropdown-item" href="/pages/products">View all</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="categoryDropdown">
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#newCategoryModal">Create new</a>
          <a class="dropdown-item" href="/pages/categories">View all</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="staffDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Staff</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="staffDropdown">
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#newStaffModal">Create new</a>
          <a class="dropdown-item" href="/pages/staff">View all</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="invoiceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Invoice</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="invoiceDropdown">
          <a class="dropdown-item" href="/pages/invoices">View all</a>
        </div>
      </li>
    
</ul>